<%- include ('partials/header') %>

	<div class="container">
		<div class="row">
			<!-- FORMULARIO -->
			<div class="col-md-5 offset-md-3">
				<div class="card border-danger mb-3" style="max-width: 100%;">
					<div class="card-header text-white bg-danger">
						<h3>Edita tú tarea</h3>
					</div>
					<div class="card-body">
						<form action="/update/<%= task._id %> " method="POST">
							<div class="mb-3">
								<label for="exampleFormControlInput1" class="form-label">Agrega tú proxima tarea</label>
								<input type="text" name="title" class="form-control" id="exampleFormControlInput1"
									placeholder="Agrega tú tarea" value="<%= task.title %>">
							</div>
							<div class="mb-3">
								<label for="exampleFormControlTextarea1" class="form-label">Describe tu tarea</label>
								<textarea name="description" class="form-control" id="exampleFormControlTextarea1" cols="80" rows="4"
									placeholder="Describe tu tarea"><%= task.description %>
								</textarea>
							</div>

							<div class="d-grid gap-2">
								<button class="btn btn-outline-dark" type="submit">Actualizar</button>
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>

	<%- include('partials/footer') %>